
<style> 
{{#each behaviors}}
{{#each this.brushes}}
{{#if @last}}#{{inspector.groupName}}tab_{{this.inspector.id}}:checked ~ #{{inspector.groupName}}content_{{this.inspector.id}}
{{else}}
#{{groupName}}tab_{{this.inspector.id}}:checked ~ #{{inspector.groupName}}content_{{this.inspector.id}},
{{/if}}
{{/each}}
{{/each}}
{display: block;}
</style>

{{#each behaviors}}

	<div id="groupName"> 
		<h4 class="group-title-inspector brush">{{this.name}} Brush Properties</h4>
		{{#each this.brushes}} 
			<input id={{inspector.groupName}}tab_{{this.inspector.id}} type="radio" index ="{{@index}}" name="{{inspector.groupName}}tabs" {{#if this.inspector.selectedIndex}}checked{{/if}}>
			<label class = "brushlabels" for="{{inspector.groupName}}tab_{{this.id}}"> {{this.inspector.index}}</label>
		{{/each}}


		{{#each brushes}}
			<section class = "inspectorSection" id="{{inspector.groupName}}content_{{this.inspector.id}}">
				{{#each blocks}}
	    			<ul class="sub-group-inspector"> 
	    			<h4 class="sub-sub-group-inspector">{{this.inspector.blockName}}</h4>
	    			{{#each this.inspector.params}}
	        			<li id="param-{{id}}">{{name}}: <span id="inspector-{{id}}">{{val}}</span></li> 
	        		{{/each}}
	    			</ul> 
	    			<hr class="hr-inspector"/>
    			{{/each}}
    		</section>
		{{/each}}
	</div>
{{/each}}
