<div id="{{groupName}}-inspector"> 
<h4 class="group-title-inspector">{{groupName}}</h4>
	{{#each blocks}}
	    <ul class="sub-group-inspector"> 
	    	<b>{{this.blockName}}</b>
	    	{{#each this.params}}
	        	<li id="param-{{id}}">{{name}}: <span id="inspector-{{id}}">{{val}}</span></li> 
	        {{/each}}
	    </ul> 
	    <hr class="hr-inspector"/>
    {{/each}}
</div>