<div stateId = "{{stateId}}" id="{{mappingId}}" class = "mapping">
 
 
   <div id="{{expressionId}}" parent_id="{{mappingId}}" class = "reference_expression expression">       
      <textarea  class="text_entry">
        {{reference_text}}
      </textarea>  
  </div>

  <div class = "arrow">
    <div class="arrow-right green"></div>
    <div class="arrow-tail green"></div>
  </div> 

 <div class = "relative_expression expression">
    <div class="mapping-tooltip inspector_box" style="visibility:hidden;" mappingId = "{{mappingId}}">0</div>
    <div stateId = "{{stateId}}", mappingId = "{{mappingId}}" name="{{relativePropertyName}}"  class="block property palette">{{relativePropertyFieldName}}</div>
  </div>

  </div>
  </div>
</div>
<br/>