<div displayName= "{{displayName}}" fieldName="{{fieldName}}" id="{{methodId}}" type="method" class="block method statement">
    <div class ="methodName resizeDiv">{{displayName}}</div>
        <div class="methodArguments resizeDiv">
            
            {{#each argumentList}}
                <div class="argumentLabel">{{displayName}}</div>
                <div id="{{expressionId}}" parent_id="{{../methodId}}" class = "reference_expression expression">       
                <textarea  class="text_entry">
                {{default}}
                </textarea>  
                </div>
            {{/each}}
    </div>
    <div class="clearfix"></div>
</div><br/>