<div name= {{targetMethod}} id="{{methodId}}" type="method" class="block method statement">
  <div class ="methodName resizeDiv">{{targetMethod}}</div>
   {{#if hasArguments}}
  <div class="methodArguments resizeDiv">

 <div id="{{expressionId}}" parent_id="{{methodId}}" class = "reference_expression expression">       
      <textarea  class="text_entry">
        {{reference_text}}
      </textarea>  
  </div>

 <!--<input type="text" id="{{methodTextId}}" argumentId="{{defaultArgumentId}}" value="{{defaultArgumentName}}" selectBoxOptions="{{argumentList}}">-->
  {{#if methodNumberId}}
  <div class= "selectBox selectBoxNumber">
  <input class="selectBoxInput selectBoxNumber" id="{{methodNumberId}}" type="number" value="{{defaultNumberArgument}}">
  </div>
  {{/if}}
  </div>
  {{/if}}
 <div class="clearfix"></div>
</div>