<div name= {{targetMethod}} id="{{methodId}}" type="method" class="block method statement">
  <div class ="methodName resizeDiv">{{targetMethod}}</div>
  <div class="methodArguments resizeDiv">
  <input type="text" id="{{methodTextId}}" argumentId="{{defaultArgumentId}}" value="{{defaultArgumentName}}" selectBoxOptions="{{argumentList}}">
  {{#if methodNumberId}}
  <div class= "selectBox selectBoxNumber">
  <input class="selectBoxInput selectBoxNumber" id="{{methodNumberId}}" type="number" value="1">
  </div>
  {{/if}}
  </div>
 <div class="clearfix"></div>
</div>