<div displayName= "{{displayName}}" fieldName="{{fieldName}}" id="{{methodId}}" type="method" class="block method statement">
    <div class ="methodName resizeDiv">{{displayName}}</div>
        <div class="methodArguments resizeDiv">
            
            {{#each argumentList}}
                <div class="argumentLabel">{{displayName}}</div>
                {{#if expressionId}}
                <div id="{{expressionId}}" parent_id="{{../../methodId}}" class = "reference_expression expression">       
                <textarea  class="text_entry">
                {{default}}
                </textarea>  
                </div>
                 {{else}}
                 <div class= "methodSelect selectBox selectBoxNumber">
              <select fieldName = "{{../fieldName}}" class="selectBoxInput" id="{{../../methodId}}">
                <option value=""></option>
                {{#each options}}
                <option value="{{id}}">{{displayName}}</option>
                {{/each}}
              </select>
            </div>
                {{/if}}
            {{/each}}
    </div>
    <div class="clearfix"></div>
</div><br/>