{{#each items}}
	<ul class="collapsibleList" id={{collectionId}}> 
		<li><span class="data-label">{{collectionName}}</span><br/>
			<ul class="data-block">
				{{#each signals}}
					<li name={{fieldName}} display_name="{{displayName}}" type="{{classType}}" class ="{{item_class}} tooltip">{{displayName}}<span class="tooltiptext tooltip-top">{{{help_text}}}</span></li>
				{{/each}}
			</ul>
		</li>
	</ul>
{{/each}}

