<div>
	<div class="transition_statement" id="{{transitionId}}">
	  <div class="events">
	  	<div class="event_label">if</div>  
	  	<div type="referenceA" id="{{referenceAId}}" parent_id="{{transitionId}}"  class = "reference_expression expression">       
                <textarea  class="text_entry">
       				 {{default}}
                </textarea>  
        </div>
	    <div class="transitionConditions resizeDiv">
	        <div class= "selectBox selectBoxNumber">

			  <select class="selectBoxInput" id="{{conditionId}}">
			  	<option value="=="> equals </option>
			  	<option value="<"> less than </option>
			  	<option value=">"> greater than </option>
			  	<option value="!=="> does not equal </option>
			  	<option value="within"> is within </option>
			  </select>
			</div>
		</div>
        <div type="referenceB" id="{{referenceBId}}" parent_id="{{transitionId}}" class = "reference_expression expression">       
                <textarea class="text_entry">
                {{default}}
                </textarea>  
        </div> 
	 	 <!-- <div class="event_block"></div> -->
	  </div>
	  <div class = "methodsContainer">
	  <div class="methods">
	    {{#each methods}}
	    <div id="{{id}}" class = "block method">{{name}} foobar</div><br/>
	    {{/each}}
	  </div>
	 <div class = "prop_buttonContainer">
    <div id="prop_select" class="prop_button">
    <div class="prop_button-vertical"></div>
    <div class="prop_button-horizontal"></div>
    </div>
    </div>
	</div>
	</div>

</div>
