<div>
	<div class="transition_statement" id="{{transitionId}}">
	  <div class="events">
	  	<div class="event_label">on</div>  
	  	<div id="{{referenceAId}}" parent_id="{{transitionId}}"  class = "reference_expression expression">       
                <textarea  class="text_entry">
       				 {{default}}
                </textarea>  
        </div>
	    <div class="transitionConditions resizeDiv">
	        <div class= "selectBox selectBoxNumber">
			 
						  <!-- <input class="selectBoxInput selectBoxNumber" id="{{transitionNumberId}}" type="number" value="0"> -->

			  <select class="selectBoxInput" id="{{transitionNumberId}}" name="{{transitionNumberId}}">
			  	<option value="equal"> == </option>
			  	<option value="less"> &lt; </option>
			  	<option value="greater"> &gt; </option>
			  	<option value="nequal"> !== </option>
			  	<option value="within"> within </option>
			  </select>
			</div>
		</div>
        <div id="{{referenceBId}}" parent_id="{{transitionId}}" class = "reference_expression expression">       
                <textarea class="text_entry">
                {{default}}
                </textarea>  
        </div> 
	 	 <!-- <div class="event_block"></div> -->
	  </div>
	  <div class = "methodsContainer">
	  <div class="methods">
	    {{#each methods}}
	    <div id="{{id}}" class = "block method">{{name}} foobar</div><br/>
	    {{/each}}
	  </div>
	 <div class = "prop_buttonContainer">
    <div id="prop_select" class="prop_button">
    <div class="prop_button-vertical"></div>
    <div class="prop_button-horizontal"></div>
    </div>
    </div>
	</div>
	</div>

</div>
