<div>
	<div class="transition_statement" id="{{transitionId}}">
	  <div class="events">
	  	<div class="event_label">on</div>  
	 	 <div class="event_block">
	       	 	 {{#if eventName}}

	      	<div id="{{eventName}}" class = "block transition">{{displayName}}</div>
	      		 	  {{/if}}

	 	 </div>
	  </div>
	  <div class="methods">
	    {{#each methods}}
	    <div id="{{id}}" class = "block method">{{name}}</div>
	    {{/each}}
	  </div>
	</div>
</div>
