<div>
<div class = "transition" id="{{id}}">
<h2 class = "title">on:{{event}}</h2>
      <div class = "conditionals">
        <div id={{condition_id}} class = "block condition">{{condition_name}}</div>
      </div>
      <div class = "methods">
        {{#each methods}}
      <div id="{{id}}" class = "block method">{{name}}</div>
      {{/each}}
      </div>
</div>
</div>

