<div>
	<div class="transition_statement" id="{{id}}">
	  <div class="events">
	  	<div class="event_label">on</div>  
	 	 <div class="event_block">
	        {{#each event}}
	      	<div id="{{id}}" class = "block transition">{{name}}</div>
	      	{{/each}}
	 	 </div>
	  </div>
	  <div class="methods">
	    {{#each methods}}
	    <div id="{{id}}" class = "block method">{{name}}</div>
	    {{/each}}
	  </div>
	</div>
</div>
